# Cloudinary Configuration
# Créer un Unsigned Upload Preset sur votre compte Cloudinary
# https://cloudinary.com/documentation/unsigned_uploads

VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset
